<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello from the CRT Scheduler!</h2>
    <p>Just letting you know that a shift you signed up for has changed. Here are the new details.<p>

    <h2><%= @shift.name %></h2>
    <p>
      <strong>Time:</strong> <%= @shift.start.strftime("%a %b %e, %H:%M") %> - <%= @shift.finish.strftime("%H:%M") %>
      <br />
      <strong>Location:</strong> <%= @shift.location %>
      <br />
      <% if !@shift.description.blank? %>
        <strong>Description:</strong> <%= @shift.description %>
      <% end %>
    </p>

    <p>If you have any concerns with the changes please let me know.</p>
  </body>
</html>
