<div class='page-header'>
  <h1>Sign in</h1>
</div>
<%= form_for(:session, :url => sessions_path, :html => {:class => "well"}) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br />
    <%= f.submit "Sign in", :class => "btn" %>
<% end %>
<p><%= link_to "Click here to reset your password", forgot_password_path, :class => "btn btn-danger btn-large" %></p>
