<%= form_for(@user, :html => {:class => 'well'}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :position %>
    <%= f.select :position, User::POSITION_OPTIONS %>
    <%= f.label :sfa_expiry %>
    <%= f.date_select :sfa_expiry, :start_year => Time.now.year - 5, :end_year => Time.now.year + 5, :include_blank => true %>
    <%= f.label :hcp_expiry %>
    <%= f.date_select :hcp_expiry ,:start_year => Time.now.year - 5, :end_year => Time.now.year + 5, :include_blank => true %>
    <%= f.label :amfr_expiry %>
    <%= f.date_select :amfr_expiry ,:start_year => Time.now.year - 5, :end_year => Time.now.year + 5, :include_blank => true %>
    <br />
    <%= f.submit button_text %>
  </div>
<% end %>
