<%= form_for(@user, :html => {:class => 'well'}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :email %>
    <%= f.text_field :email %><br />
    <%= f.submit button_text %>
  </div>
<% end %>
