<tr>
<td><a href="<%= user_path(user) %>"><%= "#{user.first_name} #{user.last_name}" %></a></td>
<% shift_types.each do |n| %>
  <td><%= format("%7.2f", user.total_hours(n)) %></td>
<% end %>
<td><%= pluralize(user.days_until_cert_expiration, 'day') %></td>
<td>
  <%= user.position_name %>
</td>
<td id="d<%= user.id %>">
<%= render 'users/suspended', :user => user %>
</td>
<td>
<%= render 'users/admin', :user => user %>
</td>
<td>
<%= link_to "Delete", user_path(user), :method => :delete , data: { :confirm => "Are you SURE you want to delete #{user.name}?" } %>
</td>
</tr>
