<tr>
  <td><%= "#{user.first_name} #{user.last_name}" %></td>
<% shift_types.each do |n| %>
  <td><%= format("%7.2f", user.total_hours(n)) %></td>
<% end %>
<td id="p<%= user.id %>">
<%= render 'users/primary', :user => user %>
</td>
<td id="d<%= user.id %>">
<%= render 'users/suspended', :user => user %>
</td>
<td><%= user.admin %></td>
</tr>
