<div class='page-header'>
  <h1>
    <%= @user.full_name %>
    (<%= @responder_type %>)
    <% if current_user.admin? %>
      <%= link_to '<i class="icon-edit icon-white"></i> Edit Responder'.html_safe, edit_user_path(@user.id), :title => "Edit", :class => 'btn btn-primary' %>
    <% end %>
  </h1>

  <% if current_user == @user %>
    <%= form_tag(toggle_notifications_users_path, :method => "POST", :class => 'button') do %>
      <% if current_user.wants_notifications %>
        <button class="btn"><i class='icon-envelope'></i> Disable New Shift Notifications</button>
      <% else %>
        <button class="btn"><i class='icon-envelope'></i> Enable New Shift Notifications</button>
      <% end %>
    <% end %>
  <% end %>

  <div class='row'>
    <div class='well well-small span-6'>
      <h4>Certifications</h4>
      <p>SFA expiration date: <%= @user.sfa_expiry %></p>
      <p>HCP expiration date: <%= @user.hcp_expiry %></p>
      <p>AMFR expiration date: <%= @user.amfr_expiry %><p>
      <p>Based on your expiration dates, you will not be able to take shifts after <%= Date.today + @user.days_until_cert_expiration %>
      <p>Contact the Directors of Membership and Scheduling if you have more recent certifications</p>
    </div>
  </div>

</div>
<% @shift_types.each do |type| %>
<%
current = format("%7.1f", @user.hours(type))
upcoming = format("%7.1f", @user.upcoming_hours(type))
max = format("%7.1f", @user.hours_quota(type))

# With bootstrap if a bar exceeds the total width it is hidden, so the upcoming hours bar
# is limited by the # of remaining hours
upcoming_hours = [@user.hours_quota(type) - @user.hours(type), @user.upcoming_hours(type)].min
%>
  <%= type.name %>:
  <%= "#{current} / #{max} (#{upcoming} hours upcoming)" %>
  <div class='progress' style=''>
    <div class='bar bar-success' style='width: <%= (@user.hours(type) / @user.hours_quota(type) * 100) %>%'></div>
    <div class='bar bar-warning' style='width: <%= (upcoming_hours / @user.hours_quota(type) * 100) %>%'></div>
  </div>
<% end %>

<h3>Upcoming Shifts</h3>
<%= render 'shifts/table', :shifts => @current_shifts %>

<h3>Past Shifts</h3>
<%= render 'shifts/table', :shifts => @past_shifts %>

<% if current_user == @user %>
  <div class='well well-small visible-desktop'>
    Automatically sync your shifts to Google Calendar, Apple iCal, Windows Calendar, etc. Your calendar subscription link:
    <strong><%= calendar_user_url(@user.id) %></strong>
  </div>
<% end %>
