<h1><%= current_user.full_name %> (<%= @responder_type %>)</h1>
<p><%= link_to "Change password", edit_password_user_path(@user) %></p>
<% @shift_types.each do |type| %>
<%
current = @user.hours(type)
upcoming = @user.upcoming_hours(type)
max = @user.hours_quota(type)
%>
<p><%= type.name %>:
<meter min="0" value="<%= current %>" max="<%= max %>"></meter>
<%= "#{current}/#{max} (#{upcoming} hours upcoming)" %>
</p>
<% end %>

<h3>Upcoming Shifts</h3>
<%= render 'shifts/table', :shifts => @current_shifts %>
<h3>Past Shifts</h3>
<%= render 'shifts/table', :shifts => @past_shifts %>
