<%= form_for(@shift) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start %><br />
    <%= f.datetime_select :start %>
  </div>
  <div class="field">
    <%= f.label :finish %><br />
    <%= f.datetime_select :finish %>
  </div>
  <div class="field">
    <%= f.label :shift_type_id %><br />
    <%= f.collection_select(:shift_type_id, ShiftType.all, :id, :name) %>
  </div>
  <div class="field">
    <%= f.label :primary_id %><br />
    <%= f.collection_select(:primary_id, User.where(:primary => true, :disabled => false), :id, :full_name, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :secondary_id %><br />
    <%= f.collection_select(:secondary_id, User.where(:disabled => false), :id, :full_name, {:include_blank => true}) %>
  </div>
  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div
  <div class="actions">
    <%= f.submit button_text %>
  </div>
<% end %>
