<tr>
<td><%= shift.start.strftime("%a %b %d") %></td>
<td><%= current_user.admin? ? (link_to shift.name, edit_shift_path(shift)) : (link_to shift.name, shift_path(shift)) %></td>
<td><%= shift.location %></td>
<td><%= shift.start.strftime("%H:%M") %></td>
<td><%= shift.finish.strftime("%H:%M") %></td>
<td><%=
        if shift.primary_disabled
          "Unavailable"
        elsif shift.primary != nil
          if current_user.admin? then
            link_to shift.primary.name, drop_primary_shift_path(shift), :method => :put, :confirm => "Are you sure you want to withdraw this responder?"
          else
            shift.primary.name
          end
        elsif current_user.can_primary?(shift)
          link_to "Take Shift", primary_shift_path(shift), :method => :put, :confirm => "Are you sure you want to take this shift?"
        end
     %>
</td>
<td><%= if shift.secondary_disabled
          "Unavailable"
        elsif shift.secondary != nil
          current_user.admin? ? (link_to shift.secondary.name, drop_secondary_shift_path(shift), :method => :put, :confirm => "Are you sure you want to withdraw this responder?") : shift.secondary.name
        elsif current_user.can_secondary?(shift)
          link_to "Take Shift", secondary_shift_path(shift), :method => :put, :confirm => "Are you sure you want to take this shift?"
        end
     %>
</td>
<td>
  <%=
    if shift.rookie_disabled
     "Unavailable"
    elsif shift.rookie != nil
      current_user.admin? ? (link_to shift.rookie.name, drop_rookie_shift_path(shift), :method => :put, :confirm => "Are you sure you want to withdraw this responder?") : shift.rookie.name
    elsif current_user.can_rookie?(shift)
      link_to "Take Shift", rookie_shift_path(shift), :method => :put, :confirm => "Are you sure you want to take this shift?"
    end
  %>
</td>

<td><%= shift.shift_type.name %></td>
<td>
  <% if shift.aed %>
    <i class="icon-ok center"></i>
  <% else %>
    <i class="icon-remove center"></i>
  <% end %> </td>
<td>
  <% if shift.vest %>
    <i class="icon-ok center"></i>
  <% else %>
    <i class="icon-remove center"></i>
  <% end %>
</td>
<td><%= shift.note %></td>
</tr>
