<div class='well'>
<div class='page-header'><h1><%= @shift.name %></h1></div>
<p>Location: <%= @shift.location %></p>
<p>Start: <%= @shift.start.strftime("%A %B %d, %H:%M") %></p>
<p>End: <%= @shift.finish.strftime("%A %B %d, %H:%M") %></p>
<p>Shift Type: <%= @shift.shift_type.name %></p>
<% if @shift.description.present? %>
  <p><b>Description</b> <br /><%= simple_format(@shift.description) %></p>
<% end %>
</div>
