<%= form_for(@type, :html => {:class => 'well'}) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :primary_requirement %>
    <%= f.text_field :primary_requirement %>
    <%= f.label :secondary_requirement %>
    <%= f.text_field :secondary_requirement %>
    <%= f.label :critical_time, '# of days before shift that it\'s critical' %>
    <%= f.text_field :critical_time %>
    <%= f.label :ignore_primary, "Secondary can take primary slot (e.g. FnP)" %>
    <%= f.check_box :ignore_primary %>
    <%= f.label :ignore_suspended, "Suspended responders can take shift (e.g. Debriefs or Shift Tests)" %>
    <%= f.check_box :ignore_suspended %><br />
    <%= f.submit button_text %>
  </div>
<% end %>
