<tr>
<td><%= link_to shift_type.name, edit_shift_type_path(shift_type.id) %></td>
<td><%= shift_type.primary_requirement %></td>
<td><%= shift_type.secondary_requirement %></td>
<td><%= shift_type.critical_time %> Days</td>
<td><%= shift_type.hours_filled.round %> Hours Taken</td>
<td><%= link_to "Naughty List", naughty_shift_type_path(shift_type.id) %></td>
<% if shift_type.default %>
  <td>Default</td>
<% else %>
  <td><%= link_to "Make Default", make_default_shift_type_path(shift_type.id)%></td>
<% end %>
<td><%= link_to "Delete", shift_type_path(shift_type.id), :method => :delete, :confirm => "Are you sure?", :title => "Delete #{User.name}" %></td>
</tr>
