<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "RMS", root_path, :class => "brand" %>
          <ul class="nav">
            <% if signed_in? %>
              <li><%= link_to "Shifts", shifts_path %></li>
              <li><%= link_to "Profile", user_path(current_user) %></li>
              <% if current_user.admin? %>
                <li><%= link_to "Shift Types", shift_types_path %></li>
                <li><%= link_to "Responders", users_path %></li>
                <li><%= link_to "New User", new_user_path %></li>
                <li><%= link_to "EoT", eot_path %></li>
              <% end %>
                <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
            <% else %>
                <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
